<!DOCTYPE html>
<html lang="ko">
  <head>
    <link rel="stylesheet" href="/graphDesign.css" />
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <meta charset="utf-8" />
    <title>File Uploads</title>
  </head>
  <body>
    <div id="container"><h1 class="headerstyle">Hard Coder</h1></div>
    <div class="graph">
      <div id="chart-container"></div>
    </div>
    <h1 id="unit">작업단위</h1>
    <div class="tcbutton">
      <ul class="TCbtn">
        <li class="TCbtn-item">
          <a
            href="#"
            class="TCbtn-link"
            type="button"
            onclick="showTaskData(0)"
          >
            Task1
          </a>
        </li>
        <li class="TCbtn-item">
          <a
            href="#"
            class="TCbtn-link"
            type="button"
            onclick="showTaskData(1)"
          >
            Task2
          </a>
        </li>
        <li class="TCbtn-item">
          <a
            href="#"
            class="TCbtn-link"
            type="button"
            onclick="showTaskData(2)"
          >
            Task3
          </a>
        </li>
        <li class="TCbtn-item">
          <a
            href="#"
            class="TCbtn-link"
            type="button"
            onclick="showTaskData(3)"
          >
            Task4
          </a>
        </li>
        <li class="TCbtn-item">
          <a
            href="#"
            class="TCbtn-link"
            type="button"
            onclick="showTaskData(4)"
          >
            Task5
          </a>
        </li>
      </ul>
    </div>
    <h1 id="unit">코어단위</h1>
    <div class="tcbutton">
      <ul class="TCbtn">
        <li class="TCbtn-item">
          <a
            href="#"
            class="TCbtn-link"
            type="button"
            onclick="showCoreData(0)"
          >
            Core1
          </a>
        </li>
        <li class="TCbtn-item">
          <a
            href="#"
            class="TCbtn-link"
            type="button"
            onclick="showCoreData(1)"
          >
            Core2
          </a>
        </li>
        <li class="TCbtn-item">
          <a
            href="#"
            class="TCbtn-link"
            type="button"
            onclick="showCoreData(2)"
          >
            Core3
          </a>
        </li>
        <li class="TCbtn-item">
          <a
            href="#"
            class="TCbtn-link"
            type="button"
            onclick="showCoreData(3)"
          >
            Core4
          </a>
        </li>
        <li class="TCbtn-item">
          <a
            href="#"
            class="TCbtn-link"
            type="button"
            onclick="showCoreData(4)"
          >
            Core5
          </a>
        </li>
      </ul>
    </div>
    <h1 id="unit">Clustering</h1>
    <div class="tcbutton">
      <ul class="TCbtn">
        <li class="btn-item">
          <a
            href="#"
            class="btn-link"
            type="button"
            onclick="showTaskClusterData()"
            >Task Clustering</a
          >
        </li>
        <li class="btn-item">
          <a
            href="#"
            class="btn-link"
            type="button"
            onclick="showCoreClusterData()"
            >Core Clustering</a
          >
        </li>
      </ul>
    </div>
  </body>

  <script>
    (coreNumber = 5), (taskNumber = 5);
    const taskData = "{{ taskData }}".split(",").map(Number);
    const coreData = "{{ coreData }}".split(",").map(Number);
    let newTaskData = [];
    let newCoreData = [];

    for (let i = 0; i < 5; i++) {
      let taskList = [];
      for (let j = 0; j < 4; j++) {
        let taskStartNumber = coreNumber * taskNumber * j + i * coreNumber;
        taskList.push(
          taskData
            .slice(taskStartNumber, taskStartNumber + coreNumber)
            .map((num) => Math.round(num))
        );
      }
      newTaskData.push(taskList);
    }
    for (let i = 0; i < 5; i++) {
      coreList = [];
      for (let j = 0; j < 4; j++) {
        let coreStartNumber = coreNumber * taskNumber * j + i * taskNumber;
        coreList.push(
          coreData
            .slice(coreStartNumber, coreStartNumber + taskNumber)
            .map((num) => Math.round(num))
        );
      }
      newCoreData.push(coreList);
    }
    function showTaskData(n) {
      var options = {
        chart: {
          type: "line",
        },
        title: {
          text: `Task${n + 1}의 Core별 통계`,
        },
        xAxis: {
          categories: ["Core1", "Core2", "Core3", "Core4", "Core5"],
        },
        yAxis: {
          text: "Value",
        },
        series: [
          {
            name: "MAX",
            data: newTaskData[n][0],
          },
          {
            name: "MIN",
            data: newTaskData[n][1],
          },
          {
            name: "AVG",
            data: newTaskData[n][2],
          },
          {
            name: "STD",
            data: newTaskData[n][3],
          },
        ],
      };
      Highcharts.chart("chart-container", options);
    }
    function showCoreData(n) {
      var options = {
        chart: {
          type: "line",
        },
        title: {
          text: `Core${n + 1}의 Task별 통계`,
        },
        xAxis: {
          categories: ["Task1", "Task2", "Task3", "Task4", "Task5"],
        },
        yAxis: {
          text: "Value",
        },
        series: [
          {
            name: "MAX",
            data: newCoreData[n][0],
          },
          {
            name: "MIN",
            data: newCoreData[n][1],
          },
          {
            name: "AVG",
            data: newCoreData[n][2],
          },
          {
            name: "STD",
            data: newCoreData[n][3],
          },
        ],
      };
      Highcharts.chart("chart-container", options);
    }
    const clusters = "{{ clusters }}".split(",").map(Number);
    const clusterIDs = "{{ clusterIDs }}".split(",").map(Number);
    const clusterCnt = "{{ clusterCnt }}".split(",").map(Number);
    let veryLow = [],
      low = [],
      medium = [],
      high = [],
      veryHigh = [];
    let index = 0;
    for (let i = 0; i < clusterCnt.length; i++) {
      for (let j = 0; j < clusterCnt[i]; j++) {
        if (i == 0) {
          veryLow.push([clusters[index], clusterIDs[index]]);
        } else if (i == 1) {
          low.push([clusters[index], clusterIDs[index]]);
        } else if (i == 2) {
          medium.push([clusters[index], clusterIDs[index]]);
        } else if (i == 3) {
          high.push([clusters[index], clusterIDs[index]]);
        } else if (i == 4) {
          veryHigh.push([clusters[index], clusterIDs[index]]);
        }
        index += 1;
      }
    }
    function getData(n, which) {
      let dataSet;
      let ret = new Array();
      if (n == 0) {
        dataSet = veryLow;
      } else if (n == 1) {
        dataSet = low;
      } else if (n == 2) {
        dataSet = medium;
      } else if (n == 3) {
        dataSet = high;
      } else if (n == 4) {
        dataSet = veryHigh;
      }
      for (let i = 0; i < dataSet.length; i++) {
        let num = dataSet[i][1] % 25;
        let value = dataSet[i][0];
        let temp;
        if (which == 0) {
          temp = {
            x: num % 5,
            coreNum: Math.floor(num / 5),
            y: value,
          };
        } else if (which == 1) {
          temp = {
            taskNum: num % 5,
            x: Math.floor(num / 5),
            y: value,
          };
        }
        ret.push(temp);
      }
      return ret;
    }
    let veryLowTask = getData(0, 0),
      lowTask = getData(1, 0),
      mediumTask = getData(2, 0),
      highTask = getData(3, 0),
      veryHighTask = getData(4, 0);
    let veryLowCore = getData(0, 1),
      lowCore = getData(1, 1),
      mediumCore = getData(2, 1),
      highCore = getData(3, 1),
      veryHighCore = getData(4, 1);

    function showTaskClusterData() {
      var options = {
        chart: {
          type: "scatter",
        },
        title: {
          text: `Task별 Clustering Data`,
        },
        xAxis: {
          categories: ["Task1", "Task2", "Task3", "Task4", "Task5"],
        },
        yAxis: {
          text: "Value",
        },
        legend: {
          enabled: true,
        },
        plotOptions: {
          scatter: {
            showInLegend: false,
            jitter: {
              x: 0.24,
              y: 0,
            },
            marker: {
              radius: 2,
              symbol: "circle",
            },
            tooltip: {
              pointFormatter: function () {
                return (
                  "TaskNum : " +
                  (this.x + 1) +
                  " CoreNum : " +
                  (this.coreNum + 1)
                );
              },
            },
          },
        },
        series: [
          {
            name: "VeryLow",
            data: veryLowTask,
          },
          {
            name: "Low",
            data: lowTask,
          },
          {
            name: "Medium",
            data: mediumTask,
          },
          {
            name: "High",
            data: highTask,
          },
          {
            name: "VeryHigh",
            data: veryHighTask,
          },
        ],
      };
      Highcharts.chart("chart-container", options);
    }
    function showCoreClusterData() {
      var options = {
        chart: {
          type: "scatter",
        },
        title: {
          text: `Core별 Clustering Data`,
        },
        xAxis: {
          categories: ["Core1", "Core2", "Core3", "Core4", "Core5"],
        },
        yAxis: {
          text: "Value",
        },
        plotOptions: {
          scatter: {
            showInLegend: false,
            jitter: {
              x: 0.24,
              y: 0,
            },
            marker: {
              radius: 2,
              symbol: "circle",
            },
            tooltip: {
              pointFormatter: function () {
                return (
                  "TaskNum : " +
                  (this.taskNum + 1) +
                  " CoreNum : " +
                  (this.x + 1)
                );
              },
            },
          },
        },
        series: [
          {
            name: "VeryLow",
            data: veryLowCore,
          },
          {
            name: "Low",
            data: lowCore,
          },
          {
            name: "Medium",
            data: mediumCore,
          },
          {
            name: "High",
            data: highCore,
          },
          {
            name: "VeryHigh",
            data: veryHighCore,
          },
        ],
      };
      Highcharts.chart("chart-container", options);
    }
  </script>
</html>
